.#*
*~
\#*
*.aux
_build
*.codekit
.coverage
*.db
*.db-journal
/.develop
/dist/
.DS_Store
*.egg
*.egg-info
*.eggs
/.emacs*
.ipynb_checkpoints
*.lock
*.log
__MACOSX
*.out
*.pdf
/Procfile
*.pyc
/_resources
*.sqlite
*.sqlite-journal
*.sw*
Untitled*.ipynb
